<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment Generation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <div>
        <textarea id="userQuestion" rows="8" cols="55" placeholder="write or paste your code here..."
            class="codeArea"></textarea>
        <button id="botAction" class="btnProcess">Validate</button>
    </div>
    <textarea id="botResponse" rows="8" cols="55" placeholder="" class="codeArea"></textarea>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>